[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
psy-taliro = ">=1.0"
pyzmq = "*"
docker = "*"
gzcm = {git="git+ssh://git@github.com/cpslab-asu/gzcm", editable=true}
controller = {file = "controller", editable=true}
matplotlib = "*"

[scripts]
test = "python3 src/test.py"
simulation = "python3 src/simulation.py"

[dev-packages]
types-docker = "*"
